<div class="right">
    <div class="picWrapper" *ngIf="sharedData.curStage===0">
        <a (click)="toggleOrigin()" class="small-yuantu" href="javascript:;" *ngIf="sharedData.hasLoaded">
            <span class="yuantu-text">{{isOrigin?'效果':'原图'}}</span>
            <img data-qimager-elem="originImg" src="{{sharedData.imageOriginUrl}}" alt="" draggable="false" style="z-index: 2">
        </a>
        <img data-qimager-elem="effectImg" src="{{sharedData.imageEffectUrl}}" alt="" draggable="false" *ngIf="sharedData.hasLoaded" style="z-index: 1">
    </div>
    <div class="picCompare" *ngIf="sharedData.curStage===1">
        <div class="yuantu">
            <p>原图：</p>
            <img class="yuantu" src="{{sharedData.imageOriginUrl}}" alt="" draggable="false" >
        </div>
        <div class="effect">
            <p>效果图：</p>
            <img class="effect" src="{{sharedData.imageEffectUrl}}" alt="" draggable="false" >
        </div>
    </div>
    <div *ngIf="sharedData.isProcessing" data-qimager-elem="loadingWrap" class="infoMsg">处理中</div>
</div>