main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

main img {
  width: 600px;
  height: 480px;
}

main button {
    padding: 5px 8px;
    border-radius: 4px;
}